<div class="row" id="burgerImage">
    <img src="../public/assets/img/burger.jpg" class="rounded" alt="Yummy Burger">
</div>

<h1>Let's Eat Some Burgers!!!</h1>

<div class="row addBurgers">

    <form>

        <div class="input-group">
            <span class="input-group-text">With textarea</span>
            <textarea class="form-control" aria-label="With textarea"></textarea>
        </div>

        <button type="submit">Submit Your Burger</button>


    </form>

</div>